.btn-general-collaborator {
    height: 30px;
    border-radius: 4px;
    font-weight: bold;
    font-size: .7em;
    text-transform: uppercase;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
   }