
.contenedorRegister{
    width: 100%;
    min-height: calc(100vh - 120px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.register-titulo{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1em;
}

.card {
    width: 390px;
    padding: 1.9rem;
    margin-top: 3em;
    margin-bottom: 1.7em;
    text-align: center;
    border: 1px solid  #ffeba7;
   }

   
   /*Inputs*/
   .field {
    margin-top: .5rem;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1f2029;
    border: 3px solid  #ffeba7;
    border-radius: 4px;
    padding: .5em 1em;
   }
   
   .input-icon {
    font-size: 30px;
    color: #fafafa;
   }
   
   .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
   }
   
   /*Text*/
   .registerTitulo {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
   }
   
   /*Buttons*/
   .btn-general {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
   }
   
   /*Hover & focus*/
   .field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
    color: #fcfafa;
   }
   
   .btn-general:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
   }
   
   .btn-general-link:hover {
    color: #ffeba7;
   }
   